<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Quikkloan Document OCR</title>
</head>

<body>

    <form action="/image/upload" method="POST" enctype="multipart/form-data">
        
        <input type="file" name="photo" class="btn btn-primary"
                                        id="file-field" accept="image/*" >
                                    </input>
        <input type="text" name="type" value="Aadhar Front">

        <button type="submit">Submit</button>

    </form>

</body>

</html>
